<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG">

    <test name="Example Test" preserve-order="false">
        <parameter name="BaseURL" value="https://qa.koel.app/"/>
        <classes>
            <class name="com.qa.koel.LoginTests"/>
            <class name="com.qa.koel.Homework16Test"/>
            <class name="com.qa.koel.Homework17Test"/>
            <class name="com.qa.koel.BaseTest"/>
            <class name="com.qa.koel.Homework18Test"/>
            <class name="com.qa.koel.Homework19Test"/>
            <class name="com.qa.koel.Homework21Test"/>
        </classes>
    </test>
</suite>